<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body>
  <section id="welcome-page">
    <img src="logo_main_00.jpg" width="200">
    <p>Welcome to Storm Games</p>
  </section>
</body>
</html>
